@import '../../defaults/index';

$footer-img-height: 22px;
$footer-img-margin: 3px;
$footer-min-height: calc($footer-img-height + 4px);
$footer-max-height: calc($footer-img-height + 1rem);
$footer-height: clamp($footer-min-height, calc(100vh * .1), $footer-max-height);

footer, footer p {
    height: $footer-height;
    line-height: $footer-height;
}
footer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    p {
        width: 100%;
        max-width: $max-article-width;
        text-align: center;
    }
    a {
        color: $link-color;
        text-decoration: none;
    }
    img {
        height: $footer-img-height;
        margin-left: $footer-img-margin;
    }
}
