$body-bg: #ddd !default; 
$body-color: #000 !default;
$body-image: url('/background.png') !default;

$link-color: blue !default;
$article-special-color-1: silver !default;
$article-special-color-2: darkgrey !default;
