@import 'variables';

main article {
    padding-left: 2rem;
}

main, header, footer {
    display: flex;
    justify-content: end;
    margin-right: $main-margin-right;

    @media screen and (max-width: $middle-point){
        justify-content: center;
        margin-right: 0;
    }
    
    @media screen and (min-width: $wide-point){
        justify-content: center;
        margin-right: $wide-point-padding-right;
    }
}
