body, #body {
    width: 100%;
    min-height: 100vh;
}

#body {
    display: grid;
    grid-template:
        "header" $header-height
        "main" auto
}

#body > header {
    grid-area: header;
}

#body > main {
    grid-area: main;
}

