$body-bg: #444d53; 
$body-color: #bec5c9;
$link-color: #91999f;

$article-special-color-1: #616b71;
$article-special-color-2: #eaeff2;

$title-font-url: '/fonts/PlayfairDisplaySC-Bold.ttf';
$subtitle-font-url: '/fonts/PlayfairDisplaySC-Regular.ttf';

$header-title-max-font-size: 3.2rem;
$header-subtitle-max-font-size: 1.5rem;
